.Rproj.*/
.Rhistory
.RData
.Ruserdata
*.html
*_files/
*.png
.DS_Store
.snakemake/
.ipynb_checkpoints/
.Rproj.user
*.log
*_cache/
*.pdf
MN*/
all_samples/
.snakemake/
reference_length/
.vscode
excel/
save2excel.Rmd
save2excel.nb.html
._.DS_Store
.Rhistory

